<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../css/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container-card">
        <h2>Static Files Demo</h2>
        <img src="./../images//nodejs.jpg">
        <p>This is a demo of hotel booking app created using express js.</p>
        <p>Using this file i want to demo how static files can be served from express.</p>
    </div>

</body>

</html>